In [5]:
import pandas as pd
from download.downloaders import download

In [84]:
test = pd.read_csv('data/indicator/SL1/raw/SL1_FAOSTAT.csv')

In [97]:

def process_SL1():
    df = pd.read_csv('data/indicator/SL1/raw/SL1_FAO.M.csv').query("Element == 'Cropland nutrient flow per unit area'")
    df = df.drop(columns=['Domain', 'Domain Code', 'Area Code (FAO)', 'Element Code',
                          'Item Code', 'Year Code', 'Flag', 'Flag Description', 'Unit', 'Element'])
    
    pivoted = df.pivot(index=['Area', 'Year'], columns='Item', values='Value')

    NB = pivoted['Synthetic Fertilizers'] \
        + pivoted['Manure applied to Soils'] \
        + pivoted['Atmospheric Deposition'] \
        + pivoted['Biological Fixation'] \
        - pivoted['Crop Removal']

    NB = NB.reset_index()
    NB.columns = ['Country', 'Year', 'Value']
    NB['Value'] = abs(NB['Value'])

    
    NB[NB['Value'] < 0] = 5 - NB[NB['Value'] < 0]  # mirror
    return NB

In [98]:
test = process_SL1()

In [102]:
test.query("Country == 'France'")

     Country  Year     Value
3449  France  1961   54.9417
3450  France  1962   53.8861
3451  France  1963   59.8296
3452  France  1964   62.6989
3453  France  1965   61.9145
3454  France  1966   72.4478
3455  France  1967   76.3888
3456  France  1968   84.4785
3457  France  1969   85.0429
3458  France  1970   99.3979
3459  France  1971  100.5795
3460  France  1972  100.6865
3461  France  1973  112.6526
3462  France  1974  100.7914
3463  France  1975  115.2855
3464  France  1976  124.3496
3465  France  1977  118.6477
3466  France  1978  119.3670
3467  France  1979  129.3374
3468  France  1980  126.2316
3469  France  1981  130.7135
3470  France  1982  127.2371
3471  France  1983  137.6141
3472  France  1984  124.6857
3473  France  1985  130.2493
3474  France  1986  143.8714
3475  France  1987  137.6770
3476  France  1988  140.4413
3477  France  1989  142.0060
3478  France  1990  133.4972
3479  France  1991  132.8223
3480  France  1992  111.1219
3481  France  1993  120.4242
3482  France  1994  125.9901
3483  France  1995  129.6999
3484  France  1996  127.8232
3485  France  1997  127.1298
3486  France  1998  120.9118
3487  France  1999  127.7565
3488  France  2000  115.3343
3489  France  2001  126.8109
3490  France  2002  105.0704
3491  France  2003  126.1811
3492  France  2004  108.2331
3493  France  2005  106.9930
3494  France  2006  108.8004
3495  France  2007  122.3813
3496  France  2008   96.0122
3497  France  2009   85.4016
3498  France  2010   98.2879
3499  France  2011   93.4237
3500  France  2012   93.3430
3501  France  2013  100.9315
3502  France  2014   94.4219
3503  France  2015   96.7374
3504  France  2016  112.4996
3505  France  2017   98.0649
3506  France  2018  106.0362

In [86]:
test.query("Element == 'Cropland nutrient flow per unit area'")

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
58,ESB,Soil nutrient budget,2,Afghanistan,7276,Cropland nutrient flow per unit area,5061,Synthetic Fertilizers,1961,1961,kg/ha,0.1299,Fc,Calculated data
59,ESB,Soil nutrient budget,2,Afghanistan,7276,Cropland nutrient flow per unit area,5061,Synthetic Fertilizers,1962,1962,kg/ha,0.1289,Fc,Calculated data
60,ESB,Soil nutrient budget,2,Afghanistan,7276,Cropland nutrient flow per unit area,5061,Synthetic Fertilizers,1963,1963,kg/ha,0.1280,Fc,Calculated data
61,ESB,Soil nutrient budget,2,Afghanistan,7276,Cropland nutrient flow per unit area,5061,Synthetic Fertilizers,1964,1964,kg/ha,0.1270,Fc,Calculated data
62,ESB,Soil nutrient budget,2,Afghanistan,7276,Cropland nutrient flow per unit area,5061,Synthetic Fertilizers,1965,1965,kg/ha,0.1270,Fc,Calculated data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97991,ESB,Soil nutrient budget,181,Zimbabwe,7276,Cropland nutrient flow per unit area,5078,Biological Fixation,2014,2014,kg/ha,2.1983,Fc,Calculated data
97992,ESB,Soil nutrient budget,181,Zimbabwe,7276,Cropland nutrient flow per unit area,5078,Biological Fixation,2015,2015,kg/ha,1.5661,Fc,Calculated data
97993,ESB,Soil nutrient budget,181,Zimbabwe,7276,Cropland nutrient flow per unit area,5078,Biological Fixation,2016,2016,kg/ha,1.5854,Fc,Calculated data
97994,ESB,Soil nutrient budget,181,Zimbabwe,7276,Cropland nutrient flow per unit area,5078,Biological Fixation,2017,2017,kg/ha,1.9442,Fc,Calculated data
97995,ESB,Soil nutrient budget,181,Zimbabwe,7276,Cropland nutrient flow per unit area,5078,Biological Fixation,2018,2018,kg/ha,2.3700,Fc,Calculated data

In [61]:
test = pd.read_csv('data/full_data/result.csv')

In [83]:
test.query("Aggregation == 'Index' and Year == 2020").sort_values(by='Value').tail(10)

,ISO,Variable,Value,Aggregation,Year,Country,Continent,UNregion,IncomeLevel,Region
102016,EST,Index,70.11,Index,2020.0,Estonia,Europe,Northern Europe,High income,Europe & Central Asia
161200,ITA,Index,70.51,Index,2020.0,Italy,Europe,Southern Europe,High income,Europe & Central Asia
187867,LTU,Index,70.92,Index,2020.0,Lithuania,Europe,Northern Europe,High income,Europe & Central Asia
288490,SVK,Index,73.49,Index,2020.0,Slovakia,Europe,Eastern Europe,High income,Europe & Central Asia
122751,DEU,Index,73.77,Index,2020.0,Germany,Europe,Western Europe,High income,Europe & Central Asia
20619,AUT,Index,73.98,Index,2020.0,Austria,Europe,Western Europe,High income,Europe & Central Asia
110911,FIN,Index,74.60,Index,2020.0,Finland,Europe,Northern Europe,High income,Europe & Central Asia
87216,DNK,Index,75.45,Index,2020.0,Denmark,Europe,Northern Europe,High income,Europe & Central Asia
85728,CZE,Index,75.78,Index,2020.0,Czech Republic,Europe,Eastern Europe,High income,Europe & Central Asia
316554,SWE,Index,78.38,Index,2020.0,Sweden,Europe,Northern Europe,High income,Europe & Central Asia

In [75]:
test.query('ISO == "FRA" and Variable == "GJ1"')

,ISO,Variable,Value,Aggregation,Year,Country,Continent,UNregion,IncomeLevel,Region
111027,FRA,GJ1,0.09,Indicator,2005.0,France,Europe,Western Europe,High income,Europe & Central Asia
111063,FRA,GJ1,62.67,Indicator_normed,2005.0,France,Europe,Western Europe,High income,Europe & Central Asia
111120,FRA,GJ1,0.09,Indicator,2006.0,France,Europe,Western Europe,High income,Europe & Central Asia
111156,FRA,GJ1,62.63,Indicator_normed,2006.0,France,Europe,Western Europe,High income,Europe & Central Asia
111213,FRA,GJ1,0.09,Indicator,2007.0,France,Europe,Western Europe,High income,Europe & Central Asia
111249,FRA,GJ1,65.21,Indicator_normed,2007.0,France,Europe,Western Europe,High income,Europe & Central Asia
111306,FRA,GJ1,0.09,Indicator,2008.0,France,Europe,Western Europe,High income,Europe & Central Asia
111342,FRA,GJ1,61.74,Indicator_normed,2008.0,France,Europe,Western Europe,High income,Europe & Central Asia
111399,FRA,GJ1,0.08,Indicator,2009.0,France,Europe,Western Europe,High income,Europe & Central Asia
111435,FRA,GJ1,57.19,Indicator_normed,2009.0,France,Europe,Western Europe,High income,Europe & Central Asia
111492,FRA,GJ1,0.08,Indicator,2010.0,France,Europe,Western Europe,High income,Europe & Central Asia
111528,FRA,GJ1,56.21,Indicator_normed,2010.0,France,Europe,Western Europe,High income,Europe & Central Asia
111585,FRA,GJ1,0.08,Indicator,2011.0,France,Europe,Western Europe,High income,Europe & Central Asia
111621,FRA,GJ1,55.77,Indicator_normed,2011.0,France,Europe,Western Europe,High income,Europe & Central Asia
111678,FRA,GJ1,0.08,Indicator,2012.0,France,Europe,Western Europe,High income,Europe & Central Asia
111714,FRA,GJ1,55.32,Indicator_normed,2012.0,France,Europe,Western Europe,High income,Europe & Central Asia
111771,FRA,GJ1,0.08,Indicator,2013.0,France,Europe,Western Europe,High income,Europe & Central Asia
111807,FRA,GJ1,54.23,Indicator_normed,2013.0,France,Europe,Western Europe,High income,Europe & Central Asia
111864,FRA,GJ1,0.08,Indicator,2014.0,France,Europe,Western Europe,High income,Europe & Central Asia
111900,FRA,GJ1,53.86,Indicator_normed,2014.0,France,Europe,Western Europe,High income,Europe & Central Asia
111957,FRA,GJ1,0.08,Indicator,2015.0,France,Europe,Western Europe,High income,Europe & Central Asia
111993,FRA,GJ1,54.26,Indicator_normed,2015.0,France,Europe,Western Europe,High income,Europe & Central Asia
112050,FRA,GJ1,0.08,Indicator,2016.0,France,Europe,Western Europe,High income,Europe & Central Asia
112086,FRA,GJ1,54.29,Indicator_normed,2016.0,France,Europe,Western Europe,High income,Europe & Central Asia
112143,FRA,GJ1,0.07,Indicator,2017.0,France,Europe,Western Europe,High income,Europe & Central Asia
112179,FRA,GJ1,52.14,Indicator_normed,2017.0,France,Europe,Western Europe,High income,Europe & Central Asia
112236,FRA,GJ1,0.07,Indicator,2018.0,France,Europe,Western Europe,High income,Europe & Central Asia
112272,FRA,GJ1,52.14,Indicator_normed,2018.0,France,Europe,Western Europe,High income,Europe & Central Asia
112329,FRA,GJ1,0.07,Indicator,2019.0,France,Europe,Western Europe,High income,Europe & Central Asia
112365,FRA,GJ1,52.14,Indicator_normed,2019.0,France,Europe,Western Europe,High income,Europe & Central Asia
112422,FRA,GJ1,0.07,Indicator,2020.0,France,Europe,Western Europe,High income,Europe & Central Asia
112458,FRA,GJ1,52.14,Indicator_normed,2020.0,France,Europe,Western Europe,High income,Europe & Central Asia

In [ ]:
test.query('ISO == "FRA" and Variable == "GN1" and Aggregation =="Indicator_normed"')

In [141]:
test = pd.read_csv('data/indicator/EQ3/preprocessed/EQ3_origin.M.csv')

In [132]:
def process_EQ3():
    df = pd.read_csv("data/indicator/EQ3/raw/EQ3_WB.csv")

    df = df[[
        'iso3c', 'country_name', 'total_msw_total_msw_generated_tons_year',
        'population_population_number_of_people'
    ]]

    df['Year'] = 2018

    df['Value'] = df['total_msw_total_msw_generated_tons_year'] / df[
        'population_population_number_of_people']

    df = df.drop(columns=[
        'total_msw_total_msw_generated_tons_year',
        'population_population_number_of_people'
    ]).rename(columns={
        'iso3c': 'ISO',
        'country_name': 'Country',
    })

    return df

In [133]:
test = process_EQ3()

In [139]:
test.query('ISO == "DEU"')

    ISO  Country  Year  Value
50  DEU  Germany  2018  0.609

In [125]:
test.query('ISO == "FRA"')

    ISO Country  Year  Value
64  FRA  France  2018  0.548

In [118]:
test

,iso3c,region_id,country_name,income_id,gdp,composition_food_organic_waste_percent,composition_glass_percent,composition_metal_percent,composition_other_percent,composition_paper_cardboard_percent,...,waste_treatment_controlled_landfill_percent,waste_treatment_incineration_percent,waste_treatment_landfill_unspecified_percent,waste_treatment_open_dump_percent,waste_treatment_other_percent,waste_treatment_recycling_percent,waste_treatment_sanitary_landfill_landfill_gas_system_percent,waste_treatment_unaccounted_for_percent,waste_treatment_waterways_marine_percent,where_where_is_this_data_measured
0,ABW,LCN,Aruba,HIC,35563.312500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,11.0,NaN,89.0,NaN,NaN
1,AFG,SAS,Afghanistan,LIC,2057.062256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other
2,AGO,SSF,Angola,LMC,8036.690430,51.800000,6.700000,4.400000,11.500000,11.900000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ALB,ECS,Albania,UMC,13724.058594,51.400000,4.500000,4.800000,15.210000,9.900000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Some disposal sites
4,AND,ECS,Andorra,HIC,43711.800781,31.200000,8.200000,2.600000,11.600000,35.100000,...,NaN,52.1,NaN,NaN,NaN,NaN,NaN,47.9,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,XKX,ECS,Kosovo,LMC,9723.561523,42.000000,6.000000,6.000000,20.000000,8.000000,...,66.43,NaN,NaN,33.57,NaN,NaN,NaN,NaN,NaN,NaN
213,YEM,MEA,"Yemen, Rep.",LIC,8269.671875,65.000000,1.000000,6.000000,6.000000,7.000000,...,12.00,NaN,NaN,25.00,NaN,8.0,NaN,47.0,8.0,Other
214,ZAF,SSF,South Africa,UMC,12666.607422,16.381655,5.200216,16.910461,45.020646,9.396918,...,72.00,NaN,NaN,NaN,NaN,28.0,NaN,NaN,NaN,NaN
215,ZMB,SSF,Zambia,LMC,3201.289307,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,ZWE,SSF,Zimbabwe,LIC,3190.506592,36.000000,5.000000,6.000000,3.000000,27.000000,...,NaN,NaN,NaN,NaN,NaN,16.0,NaN,84.0,NaN,NaN

In [113]:
test = pd.read_csv('data/indicator/SL2/preprocessed/SL2_origin.M.csv')

In [116]:
test.query("ISO == 'DEU'")

,ISO,Year,Value,Variable,Description,Source,URL,From
210,DEU,2004,4.513607,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
211,DEU,2005,4.740767,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
212,DEU,2006,4.871356,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
213,DEU,2007,5.105015,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
214,DEU,2008,5.364931,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
215,DEU,2009,5.608788,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
216,DEU,2010,5.932335,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
217,DEU,2011,6.074526,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
218,DEU,2012,6.204993,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
219,DEU,2013,6.258609,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
220,DEU,2014,6.266069,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
221,DEU,2015,6.507680,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
222,DEU,2016,6.816954,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
223,DEU,2017,6.821478,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
224,DEU,2018,7.337339,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL

In [108]:
def process_SL2():
    df = (
        pd.read_csv('data/indicator/SL2/raw/SL2_FAOSTAT.csv')[['Year', 'Area', 'Item', 'Value']]
          
    )
    agri_orga = df.query('Item == "Agriculture area under organic agric."').set_index(["Year", 'Area'])[['Value']]
    agri_tot = df.query('Item == "Agricultural land"').set_index(['Year', 'Area'])[['Value']]
    
    df = (agri_orga / agri_tot * 100).reset_index().dropna().rename(columns={'Area': 'Country'})
    
    
    return df

In [109]:
test = process_SL2()

In [111]:
test

       Year     Country      Value
8969   2004     Algeria   0.003403
8974   2004   Argentina   1.969556
8977   2004   Australia   3.058196
8978   2004     Austria  16.070308
8985   2004     Belgium   1.710630
...     ...         ...        ...
12361  2018  Uzbekistan   0.003687
12362  2018     Vanuatu  13.715615
12364  2018    Viet Nam   1.953299
12368  2018      Zambia   0.005160
12369  2018    Zimbabwe   0.002593

[2153 rows x 3 columns]

In [110]:
test.query('Country == "Germany"')

       Year  Country     Value
9046   2004  Germany  4.513607
9272   2005  Germany  4.740767
9498   2006  Germany  4.871356
9725   2007  Germany  5.105015
9952   2008  Germany  5.364931
10179  2009  Germany  5.608788
10406  2010  Germany  5.932335
10633  2011  Germany  6.074526
10860  2012  Germany  6.204993
11087  2013  Germany  6.258609
11314  2014  Germany  6.266069
11541  2015  Germany  6.507680
11768  2016  Germany  6.816954
11995  2017  Germany  6.821478
12222  2018  Germany  7.337339

In [59]:
df.Item.unique()

array(['Country area', 'Land area', 'Agriculture', 'Agricultural land',
       'Cropland', 'Arable land', 'Land under temporary crops',
       'Land with temporary fallow', 'Land under permanent crops',
       'Land under perm. meadows and pastures',
       'Perm. meadows & pastures - Nat. growing', 'Forest land',
       'Naturally regenerating forest', 'Planted Forest', 'Other land',
       'Land area equipped for irrigation',
       'Land area actually irrigated',
       'Agriculture area actually irrigated',
       'Agriculture area under organic agric.',
       'Agriculture area certified organic', 'Primary Forest',
       'Land under temp. meadows and pastures',
       'Land under protective cover', 'Inland waters', 'Coastal waters',
       'Cropland area actually irrigated',
       'Cropland area under organic agric.',
       'Cropland area certified organic',
       'Perm. meadows & pastures - Cultivated',
       'Land used for aquaculture',
       'Perm. meadows & pastures area actually irrig.',
       'Forestry area actually irrigated',
       'Perm. meadows & pastures area under organic agric.',
       'Cropland area under conventional tillage',
       'Cropland area under zero or no tillage',
       'Cropland area under conservation tillage',
       'Farm buildings & farmyards',
       'Perm. meadows & pastures area certified organic',
       'Inland waters used for aquac. or holding facilities',
       'Exclusive Economic Zone (EEZ)',
       'Inland waters used for capture fisheries',
       'Coastal waters used for aquac. or holding facilities',
       'Coastal waters used for capture fisheries',
       'EEZ used for aquac. or holding facilities'], dtype=object)

In [32]:
def process_SL1():

    df = pd.read_csv('data/indicator/SL1/raw/SL1_FAO.M.csv')
    df = df.rename(columns={'Area': 'Country'})
    # df['Value'] = abs(df['Value'])
    df[df['Value'] < 0] = 5 - df[df['Value'] < 0]  # mirror
    return df[['Country', 'Year', 'Value']]

In [33]:
test = process_SL1()

In [42]:
def process_SL1():

    df = pd.read_csv('data/indicator/SL1/raw/SL1_FAOSTAT.csv')
    df = df.rename(columns={'Area': 'Country'})
    df['Value'] = abs(df['Value'])
    #df[df['Value'] < 0] = 5 - df[df['Value'] < 0]  # mirror
    return df#[['Country', 'Year', 'Value']]

In [43]:
test = process_SL1()

In [56]:
test.query('Country == "France" and Element == "Cropland nutrient flow per unit area"').groupby('Year').Value.sum()

Year
1961    106.0743
1962    116.3869
1963    120.2054
1964    126.5649
1965    132.1659
1966    136.4552
1967    153.6798
1968    165.6153
1969    164.3615
1970    175.7727
1971    188.9591
1972    196.6313
1973    214.1624
1974    198.0024
1975    200.5307
1976    205.9426
1977    212.0197
1978    225.1724
1979    234.1446
1980    240.8038
1981    241.3355
1982    244.5665
1983    248.4831
1984    262.0845
1985    262.8445
1986    266.2662
1987    269.3108
1988    281.4847
1989    288.3010
1990    282.1630
1991    286.1787
1992    263.1035
1993    260.1236
1994    262.9645
1995    264.0393
1996    278.8200
1997    280.0844
1998    284.1226
1999    281.8115
2000    268.0245
2001    264.9279
2002    263.9578
2003    256.7703
2004    268.1915
2005    254.0736
2006    249.8770
2007    256.1299
2008    251.1474
2009    242.2532
2010    247.3833
2011    237.2719
2012    243.9458
2013    250.6901
2014    254.7463
2015    260.1912
2016    239.4474
2017    257.0017
2018    254.0916
Name: Value, dtype: float64

In [23]:
#pd.read_csv('data/indicator/ME2/preprocessed/ME2_origin.M.csv')

In [24]:
test = process_ME2()

In [25]:
test.query('Country == "France"')

     Country           Description  Year      Value
3719  France  MF tonnes per capita  1990  17.034240
3902  France  MF tonnes per capita  1991  17.360431
4085  France  MF tonnes per capita  1992  19.902707
4268  France  MF tonnes per capita  1993  18.749216
4451  France  MF tonnes per capita  1994  18.855029
4634  France  MF tonnes per capita  1995  21.092498
4817  France  MF tonnes per capita  1996  19.065489
5000  France  MF tonnes per capita  1997  17.789807
5183  France  MF tonnes per capita  1998  19.197151
5366  France  MF tonnes per capita  1999  19.541595
5549  France  MF tonnes per capita  2000  20.074942
5732  France  MF tonnes per capita  2001  19.256486
5915  France  MF tonnes per capita  2002  20.011915
6098  France  MF tonnes per capita  2003  20.800081
6281  France  MF tonnes per capita  2004  21.619826
6464  France  MF tonnes per capita  2005  21.791292
6647  France  MF tonnes per capita  2006  22.074326
6830  France  MF tonnes per capita  2007  22.792834
7013  France  MF tonnes per capita  2008  22.808010
7196  France  MF tonnes per capita  2009  21.983138
7379  France  MF tonnes per capita  2010  20.933964
7562  France  MF tonnes per capita  2011  20.512339
7745  France  MF tonnes per capita  2012  20.568121
7928  France  MF tonnes per capita  2013  20.692157
8111  France  MF tonnes per capita  2014  20.915107
8294  France  MF tonnes per capita  2015  21.185202

In [6]:
test.query('Country == "Germany"')

,Country,Flow Type,1970,1971,1972,1973,1974,1975,1976,1977,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
63,Germany,MF tonnes per capita,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.021508,21.285698,20.910101,21.048596,21.551255,21.880811,22.220808,22.586434,NaN,NaN

In [13]:
import pandas as pd
from processing.utils import add_ISO

def process_GN1():
    df = (
        pd.read_csv('data/indicator/GN1/raw/GN1_WIPO.M.csv')
          .drop(columns=['Origin', 'Office (Code)']).rename(columns={'Office': 'Country'})
          .melt(id_vars=['Country', 'Field of technology'], var_name='Year', value_name='Value')
    )
    
    df = add_ISO(df)
    
    env = df[df['Field of technology'] == '24 - Environmental technology'].drop(columns=['Field of technology']).set_index(['Country', 'ISO', 'Year'])
    total = df.groupby(['Country', 'ISO', 'Year']).sum()
    
    df = (env / total).reset_index()
    df['Value'] = df.groupby(['ISO'])['Value'].transform(lambda x: x.rolling(7, 1).mean())

    return df

In [15]:
df = process_GN1()
df.query('ISO == "FRA"')

     Country  ISO  Year     Value
1120  France  FRA  1980  0.014346
1121  France  FRA  1981  0.013340
1122  France  FRA  1982  0.012924
1123  France  FRA  1983  0.012545
1124  France  FRA  1984  0.012072
1125  France  FRA  1985  0.012032
1126  France  FRA  1986  0.011996
1127  France  FRA  1987  0.011627
1128  France  FRA  1988  0.011449
1129  France  FRA  1989  0.011587
1130  France  FRA  1990  0.011605
1131  France  FRA  1991  0.011863
1132  France  FRA  1992  0.012069
1133  France  FRA  1993  0.012475
1134  France  FRA  1994  0.012982
1135  France  FRA  1995  0.013877
1136  France  FRA  1996  0.014475
1137  France  FRA  1997  0.015049
1138  France  FRA  1998  0.015675
1139  France  FRA  1999  0.015975
1140  France  FRA  2000  0.016466
1141  France  FRA  2001  0.016924
1142  France  FRA  2002  0.016771
1143  France  FRA  2003  0.016728
1144  France  FRA  2004  0.017251
1145  France  FRA  2005  0.017971
1146  France  FRA  2006  0.018913
1147  France  FRA  2007  0.019283
1148  France  FRA  2008  0.019776
1149  France  FRA  2009  0.020812
1150  France  FRA  2010  0.021638
1151  France  FRA  2011  0.022371
1152  France  FRA  2012  0.022317
1153  France  FRA  2013  0.022403
1154  France  FRA  2014  0.022437
1155  France  FRA  2015  0.022429
1156  France  FRA  2016  0.022020
1157  France  FRA  2017  0.021233
1158  France  FRA  2018  0.020047
1159  France  FRA  2019  0.019435

In [ ]:
df = process_GN1()

In [ ]:
df.query('ISO == "DEU"').plot(kind='line', x='Year', y='Value')

In [ ]:
df

In [ ]:
df = pd.read_csv('data/indicator/GE3/preprocessed/GE3.1_CW.csv')

In [ ]:
test = pd.read_csv('data/full_data/result.csv')

In [ ]:
test.query("Year == 2020 and Aggregation == 'Index'")

In [ ]:
import json
with open('data/indicator/GE3/raw/GE3.1_CW.json', 'r') as outfile:
    data = json.load(outfile)

In [ ]:
config_3 = {
            "GGI_code": "GE3.1",
            "params": {
                "gas_ids[]": [
                    327,
                    328,
                    329
                ],
                "sector_ids[]": [
                    1304,
                    1302
                ],
                "source_ids[]": [111]
            }
        }

In [ ]:
data_json = download('CW', config_3, path=None, restart=False)

In [ ]:
data_json

In [ ]:
from processing.api_preprocessors import CW_Preprocessor, preprocess_raw_dict

In [ ]:
df = preprocess_raw_dict(data_json, CW_Preprocessor)

In [ ]:
df

In [ ]:
test = pd.json_normalize(data_json['data'])

In [ ]:
test

In [ ]:
import requests

def get_CW_API_ids(query_param, API_URL='https://www.climatewatchdata.org/'):
    """

    """            
    url     = f'{API_URL}/api/v1/data/historical_emissions/{query_param}'

    response = requests.get(url, params=query_param, headers={"Accept": "application/json"})
    
    
    data_json = response.json()
    df = pd.json_normalize(data_json['data']) 
    
    return df

In [ ]:
test = get_CW_API_ids(query_param="sectors")

In [ ]:
test

In [ ]:
gases