In [3]:
import pandas as pd
from download.downloaders import download

In [22]:
def process_ME2():
    df = (
        pd.read_csv('data/indicator/ME2/raw/ME2_UNEP.M.csv')
          .melt(id_vars=['Country', 'Flow Type'], var_name='Year', value_name='Value')
          .rename(columns={"Flow Type": 'Description'}) 
          .dropna()
    )
    return df

In [23]:
#pd.read_csv('data/indicator/ME2/preprocessed/ME2_origin.M.csv')

In [24]:
test = process_ME2()

In [25]:
test.query('Country == "France"')

     Country           Description  Year      Value
3719  France  MF tonnes per capita  1990  17.034240
3902  France  MF tonnes per capita  1991  17.360431
4085  France  MF tonnes per capita  1992  19.902707
4268  France  MF tonnes per capita  1993  18.749216
4451  France  MF tonnes per capita  1994  18.855029
4634  France  MF tonnes per capita  1995  21.092498
4817  France  MF tonnes per capita  1996  19.065489
5000  France  MF tonnes per capita  1997  17.789807
5183  France  MF tonnes per capita  1998  19.197151
5366  France  MF tonnes per capita  1999  19.541595
5549  France  MF tonnes per capita  2000  20.074942
5732  France  MF tonnes per capita  2001  19.256486
5915  France  MF tonnes per capita  2002  20.011915
6098  France  MF tonnes per capita  2003  20.800081
6281  France  MF tonnes per capita  2004  21.619826
6464  France  MF tonnes per capita  2005  21.791292
6647  France  MF tonnes per capita  2006  22.074326
6830  France  MF tonnes per capita  2007  22.792834
7013  France  MF tonnes per capita  2008  22.808010
7196  France  MF tonnes per capita  2009  21.983138
7379  France  MF tonnes per capita  2010  20.933964
7562  France  MF tonnes per capita  2011  20.512339
7745  France  MF tonnes per capita  2012  20.568121
7928  France  MF tonnes per capita  2013  20.692157
8111  France  MF tonnes per capita  2014  20.915107
8294  France  MF tonnes per capita  2015  21.185202

In [6]:
test.query('Country == "Germany"')

,Country,Flow Type,1970,1971,1972,1973,1974,1975,1976,1977,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
63,Germany,MF tonnes per capita,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.021508,21.285698,20.910101,21.048596,21.551255,21.880811,22.220808,22.586434,NaN,NaN

In [13]:
import pandas as pd
from processing.utils import add_ISO

def process_GN1():
    df = (
        pd.read_csv('data/indicator/GN1/raw/GN1_WIPO.M.csv')
          .drop(columns=['Origin', 'Office (Code)']).rename(columns={'Office': 'Country'})
          .melt(id_vars=['Country', 'Field of technology'], var_name='Year', value_name='Value')
    )
    
    df = add_ISO(df)
    
    env = df[df['Field of technology'] == '24 - Environmental technology'].drop(columns=['Field of technology']).set_index(['Country', 'ISO', 'Year'])
    total = df.groupby(['Country', 'ISO', 'Year']).sum()
    
    df = (env / total).reset_index()
    df['Value'] = df.groupby(['ISO'])['Value'].transform(lambda x: x.rolling(7, 1).mean())

    return df

In [15]:
df = process_GN1()
df.query('ISO == "FRA"')

     Country  ISO  Year     Value
1120  France  FRA  1980  0.014346
1121  France  FRA  1981  0.013340
1122  France  FRA  1982  0.012924
1123  France  FRA  1983  0.012545
1124  France  FRA  1984  0.012072
1125  France  FRA  1985  0.012032
1126  France  FRA  1986  0.011996
1127  France  FRA  1987  0.011627
1128  France  FRA  1988  0.011449
1129  France  FRA  1989  0.011587
1130  France  FRA  1990  0.011605
1131  France  FRA  1991  0.011863
1132  France  FRA  1992  0.012069
1133  France  FRA  1993  0.012475
1134  France  FRA  1994  0.012982
1135  France  FRA  1995  0.013877
1136  France  FRA  1996  0.014475
1137  France  FRA  1997  0.015049
1138  France  FRA  1998  0.015675
1139  France  FRA  1999  0.015975
1140  France  FRA  2000  0.016466
1141  France  FRA  2001  0.016924
1142  France  FRA  2002  0.016771
1143  France  FRA  2003  0.016728
1144  France  FRA  2004  0.017251
1145  France  FRA  2005  0.017971
1146  France  FRA  2006  0.018913
1147  France  FRA  2007  0.019283
1148  France  FRA  2008  0.019776
1149  France  FRA  2009  0.020812
1150  France  FRA  2010  0.021638
1151  France  FRA  2011  0.022371
1152  France  FRA  2012  0.022317
1153  France  FRA  2013  0.022403
1154  France  FRA  2014  0.022437
1155  France  FRA  2015  0.022429
1156  France  FRA  2016  0.022020
1157  France  FRA  2017  0.021233
1158  France  FRA  2018  0.020047
1159  France  FRA  2019  0.019435

In [ ]:
df = process_GN1()

In [ ]:
df.query('ISO == "DEU"').plot(kind='line', x='Year', y='Value')

In [ ]:
df

In [ ]:
df = pd.read_csv('data/indicator/GE3/preprocessed/GE3.1_CW.csv')

In [ ]:
test = pd.read_csv('data/full_data/result.csv')

In [ ]:
test.query("Year == 2020 and Aggregation == 'Index'")

In [ ]:
import json
with open('data/indicator/GE3/raw/GE3.1_CW.json', 'r') as outfile:
    data = json.load(outfile)

In [ ]:
config_3 = {
            "GGI_code": "GE3.1",
            "params": {
                "gas_ids[]": [
                    327,
                    328,
                    329
                ],
                "sector_ids[]": [
                    1304,
                    1302
                ],
                "source_ids[]": [111]
            }
        }

In [ ]:
data_json = download('CW', config_3, path=None, restart=False)

In [ ]:
data_json

In [ ]:
from processing.api_preprocessors import CW_Preprocessor, preprocess_raw_dict

In [ ]:
df = preprocess_raw_dict(data_json, CW_Preprocessor)

In [ ]:
df

In [ ]:
test = pd.json_normalize(data_json['data'])

In [ ]:
test

In [ ]:
import requests

def get_CW_API_ids(query_param, API_URL='https://www.climatewatchdata.org/'):
    """

    """            
    url     = f'{API_URL}/api/v1/data/historical_emissions/{query_param}'

    response = requests.get(url, params=query_param, headers={"Accept": "application/json"})
    
    
    data_json = response.json()
    df = pd.json_normalize(data_json['data']) 
    
    return df

In [ ]:
test = get_CW_API_ids(query_param="sectors")

In [ ]:
test

In [ ]:
gases