In [3]:
import pandas as pd
from download.downloaders import download

In [113]:
test = pd.read_csv('data/indicator/SL2/preprocessed/SL2_origin.M.csv')

In [115]:
test.query("ISO == 'FRA'")

,ISO,Year,Value,Variable,Description,Source,URL,From
195,FRA,2004,1.813065,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
196,FRA,2005,1.873061,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
197,FRA,2006,1.885872,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
198,FRA,2007,1.907478,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
199,FRA,2008,2.003772,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
200,FRA,2009,2.330814,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
201,FRA,2010,2.922600,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
202,FRA,2011,3.365122,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
203,FRA,2012,3.569101,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
204,FRA,2013,3.687395,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
205,FRA,2014,3.889941,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
206,FRA,2015,4.605440,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
207,FRA,2016,5.352040,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
208,FRA,2017,6.078578,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL
209,FRA,2018,7.100464,SL2,Share agriculture organic to total agriculture...,FAOSTAT,http://www.fao.org/faostat/en/#data/EL,MANUAL

In [108]:
def process_SL2():
    df = (
        pd.read_csv('data/indicator/SL2/raw/SL2_FAOSTAT.csv')[['Year', 'Area', 'Item', 'Value']]
          
    )
    agri_orga = df.query('Item == "Agriculture area under organic agric."').set_index(["Year", 'Area'])[['Value']]
    agri_tot = df.query('Item == "Agricultural land"').set_index(['Year', 'Area'])[['Value']]
    
    df = (agri_orga / agri_tot * 100).reset_index().dropna().rename(columns={'Area': 'Country'})
    
    
    return df

In [109]:
test = process_SL2()

In [111]:
test

       Year     Country      Value
8969   2004     Algeria   0.003403
8974   2004   Argentina   1.969556
8977   2004   Australia   3.058196
8978   2004     Austria  16.070308
8985   2004     Belgium   1.710630
...     ...         ...        ...
12361  2018  Uzbekistan   0.003687
12362  2018     Vanuatu  13.715615
12364  2018    Viet Nam   1.953299
12368  2018      Zambia   0.005160
12369  2018    Zimbabwe   0.002593

[2153 rows x 3 columns]

In [110]:
test.query('Country == "Germany"')

       Year  Country     Value
9046   2004  Germany  4.513607
9272   2005  Germany  4.740767
9498   2006  Germany  4.871356
9725   2007  Germany  5.105015
9952   2008  Germany  5.364931
10179  2009  Germany  5.608788
10406  2010  Germany  5.932335
10633  2011  Germany  6.074526
10860  2012  Germany  6.204993
11087  2013  Germany  6.258609
11314  2014  Germany  6.266069
11541  2015  Germany  6.507680
11768  2016  Germany  6.816954
11995  2017  Germany  6.821478
12222  2018  Germany  7.337339

In [59]:
df.Item.unique()

array(['Country area', 'Land area', 'Agriculture', 'Agricultural land',
       'Cropland', 'Arable land', 'Land under temporary crops',
       'Land with temporary fallow', 'Land under permanent crops',
       'Land under perm. meadows and pastures',
       'Perm. meadows & pastures - Nat. growing', 'Forest land',
       'Naturally regenerating forest', 'Planted Forest', 'Other land',
       'Land area equipped for irrigation',
       'Land area actually irrigated',
       'Agriculture area actually irrigated',
       'Agriculture area under organic agric.',
       'Agriculture area certified organic', 'Primary Forest',
       'Land under temp. meadows and pastures',
       'Land under protective cover', 'Inland waters', 'Coastal waters',
       'Cropland area actually irrigated',
       'Cropland area under organic agric.',
       'Cropland area certified organic',
       'Perm. meadows & pastures - Cultivated',
       'Land used for aquaculture',
       'Perm. meadows & pastures area actually irrig.',
       'Forestry area actually irrigated',
       'Perm. meadows & pastures area under organic agric.',
       'Cropland area under conventional tillage',
       'Cropland area under zero or no tillage',
       'Cropland area under conservation tillage',
       'Farm buildings & farmyards',
       'Perm. meadows & pastures area certified organic',
       'Inland waters used for aquac. or holding facilities',
       'Exclusive Economic Zone (EEZ)',
       'Inland waters used for capture fisheries',
       'Coastal waters used for aquac. or holding facilities',
       'Coastal waters used for capture fisheries',
       'EEZ used for aquac. or holding facilities'], dtype=object)

In [32]:
def process_SL1():

    df = pd.read_csv('data/indicator/SL1/raw/SL1_FAO.M.csv')
    df = df.rename(columns={'Area': 'Country'})
    # df['Value'] = abs(df['Value'])
    df[df['Value'] < 0] = 5 - df[df['Value'] < 0]  # mirror
    return df[['Country', 'Year', 'Value']]

In [33]:
test = process_SL1()

In [42]:
def process_SL1():

    df = pd.read_csv('data/indicator/SL1/raw/SL1_FAOSTAT.csv')
    df = df.rename(columns={'Area': 'Country'})
    df['Value'] = abs(df['Value'])
    #df[df['Value'] < 0] = 5 - df[df['Value'] < 0]  # mirror
    return df#[['Country', 'Year', 'Value']]

In [43]:
test = process_SL1()

In [56]:
test.query('Country == "France" and Element == "Cropland nutrient flow per unit area"').groupby('Year').Value.sum()

Year
1961    106.0743
1962    116.3869
1963    120.2054
1964    126.5649
1965    132.1659
1966    136.4552
1967    153.6798
1968    165.6153
1969    164.3615
1970    175.7727
1971    188.9591
1972    196.6313
1973    214.1624
1974    198.0024
1975    200.5307
1976    205.9426
1977    212.0197
1978    225.1724
1979    234.1446
1980    240.8038
1981    241.3355
1982    244.5665
1983    248.4831
1984    262.0845
1985    262.8445
1986    266.2662
1987    269.3108
1988    281.4847
1989    288.3010
1990    282.1630
1991    286.1787
1992    263.1035
1993    260.1236
1994    262.9645
1995    264.0393
1996    278.8200
1997    280.0844
1998    284.1226
1999    281.8115
2000    268.0245
2001    264.9279
2002    263.9578
2003    256.7703
2004    268.1915
2005    254.0736
2006    249.8770
2007    256.1299
2008    251.1474
2009    242.2532
2010    247.3833
2011    237.2719
2012    243.9458
2013    250.6901
2014    254.7463
2015    260.1912
2016    239.4474
2017    257.0017
2018    254.0916
Name: Value, dtype: float64

In [23]:
#pd.read_csv('data/indicator/ME2/preprocessed/ME2_origin.M.csv')

In [24]:
test = process_ME2()

In [25]:
test.query('Country == "France"')

     Country           Description  Year      Value
3719  France  MF tonnes per capita  1990  17.034240
3902  France  MF tonnes per capita  1991  17.360431
4085  France  MF tonnes per capita  1992  19.902707
4268  France  MF tonnes per capita  1993  18.749216
4451  France  MF tonnes per capita  1994  18.855029
4634  France  MF tonnes per capita  1995  21.092498
4817  France  MF tonnes per capita  1996  19.065489
5000  France  MF tonnes per capita  1997  17.789807
5183  France  MF tonnes per capita  1998  19.197151
5366  France  MF tonnes per capita  1999  19.541595
5549  France  MF tonnes per capita  2000  20.074942
5732  France  MF tonnes per capita  2001  19.256486
5915  France  MF tonnes per capita  2002  20.011915
6098  France  MF tonnes per capita  2003  20.800081
6281  France  MF tonnes per capita  2004  21.619826
6464  France  MF tonnes per capita  2005  21.791292
6647  France  MF tonnes per capita  2006  22.074326
6830  France  MF tonnes per capita  2007  22.792834
7013  France  MF tonnes per capita  2008  22.808010
7196  France  MF tonnes per capita  2009  21.983138
7379  France  MF tonnes per capita  2010  20.933964
7562  France  MF tonnes per capita  2011  20.512339
7745  France  MF tonnes per capita  2012  20.568121
7928  France  MF tonnes per capita  2013  20.692157
8111  France  MF tonnes per capita  2014  20.915107
8294  France  MF tonnes per capita  2015  21.185202

In [6]:
test.query('Country == "Germany"')

,Country,Flow Type,1970,1971,1972,1973,1974,1975,1976,1977,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
63,Germany,MF tonnes per capita,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.021508,21.285698,20.910101,21.048596,21.551255,21.880811,22.220808,22.586434,NaN,NaN

In [13]:
import pandas as pd
from processing.utils import add_ISO

def process_GN1():
    df = (
        pd.read_csv('data/indicator/GN1/raw/GN1_WIPO.M.csv')
          .drop(columns=['Origin', 'Office (Code)']).rename(columns={'Office': 'Country'})
          .melt(id_vars=['Country', 'Field of technology'], var_name='Year', value_name='Value')
    )
    
    df = add_ISO(df)
    
    env = df[df['Field of technology'] == '24 - Environmental technology'].drop(columns=['Field of technology']).set_index(['Country', 'ISO', 'Year'])
    total = df.groupby(['Country', 'ISO', 'Year']).sum()
    
    df = (env / total).reset_index()
    df['Value'] = df.groupby(['ISO'])['Value'].transform(lambda x: x.rolling(7, 1).mean())

    return df

In [15]:
df = process_GN1()
df.query('ISO == "FRA"')

     Country  ISO  Year     Value
1120  France  FRA  1980  0.014346
1121  France  FRA  1981  0.013340
1122  France  FRA  1982  0.012924
1123  France  FRA  1983  0.012545
1124  France  FRA  1984  0.012072
1125  France  FRA  1985  0.012032
1126  France  FRA  1986  0.011996
1127  France  FRA  1987  0.011627
1128  France  FRA  1988  0.011449
1129  France  FRA  1989  0.011587
1130  France  FRA  1990  0.011605
1131  France  FRA  1991  0.011863
1132  France  FRA  1992  0.012069
1133  France  FRA  1993  0.012475
1134  France  FRA  1994  0.012982
1135  France  FRA  1995  0.013877
1136  France  FRA  1996  0.014475
1137  France  FRA  1997  0.015049
1138  France  FRA  1998  0.015675
1139  France  FRA  1999  0.015975
1140  France  FRA  2000  0.016466
1141  France  FRA  2001  0.016924
1142  France  FRA  2002  0.016771
1143  France  FRA  2003  0.016728
1144  France  FRA  2004  0.017251
1145  France  FRA  2005  0.017971
1146  France  FRA  2006  0.018913
1147  France  FRA  2007  0.019283
1148  France  FRA  2008  0.019776
1149  France  FRA  2009  0.020812
1150  France  FRA  2010  0.021638
1151  France  FRA  2011  0.022371
1152  France  FRA  2012  0.022317
1153  France  FRA  2013  0.022403
1154  France  FRA  2014  0.022437
1155  France  FRA  2015  0.022429
1156  France  FRA  2016  0.022020
1157  France  FRA  2017  0.021233
1158  France  FRA  2018  0.020047
1159  France  FRA  2019  0.019435

In [ ]:
df = process_GN1()

In [ ]:
df.query('ISO == "DEU"').plot(kind='line', x='Year', y='Value')

In [ ]:
df

In [ ]:
df = pd.read_csv('data/indicator/GE3/preprocessed/GE3.1_CW.csv')

In [ ]:
test = pd.read_csv('data/full_data/result.csv')

In [ ]:
test.query("Year == 2020 and Aggregation == 'Index'")

In [ ]:
import json
with open('data/indicator/GE3/raw/GE3.1_CW.json', 'r') as outfile:
    data = json.load(outfile)

In [ ]:
config_3 = {
            "GGI_code": "GE3.1",
            "params": {
                "gas_ids[]": [
                    327,
                    328,
                    329
                ],
                "sector_ids[]": [
                    1304,
                    1302
                ],
                "source_ids[]": [111]
            }
        }

In [ ]:
data_json = download('CW', config_3, path=None, restart=False)

In [ ]:
data_json

In [ ]:
from processing.api_preprocessors import CW_Preprocessor, preprocess_raw_dict

In [ ]:
df = preprocess_raw_dict(data_json, CW_Preprocessor)

In [ ]:
df

In [ ]:
test = pd.json_normalize(data_json['data'])

In [ ]:
test

In [ ]:
import requests

def get_CW_API_ids(query_param, API_URL='https://www.climatewatchdata.org/'):
    """

    """            
    url     = f'{API_URL}/api/v1/data/historical_emissions/{query_param}'

    response = requests.get(url, params=query_param, headers={"Accept": "application/json"})
    
    
    data_json = response.json()
    df = pd.json_normalize(data_json['data']) 
    
    return df

In [ ]:
test = get_CW_API_ids(query_param="sectors")

In [ ]:
test

In [ ]:
gases