In [6]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [7]:
all_data = pd.read_excel("data/indicator/EE3/raw/International_LPI.M.xlsx", skiprows=2 , sheet_name=[0,1,2,3,4,5])
#col_list = ['Code', 'score']
#df = data_2018[col_list]

In [8]:
all_data.keys()

dict_keys([0, 1, 2, 3, 4, 5])

In [9]:
df2 = pd.DataFrame()
year = [2018, 2014, 2012, 2010, 2007]
col_list = ['ISO', 'Value']
for i in all_data.keys():
    df = all_data[i]
    #df.rename(columns = {'Code':'ISO', 'score': 'Value'}, inplace = True)
    #df[col_list]
    #df = df[['ISO', 'Value']]
    #df['Year'] = year[i]
    df2 = df2.append(df)
df2.rename(columns = {'Code':'ISO', 'score': 'Value'}, inplace = True)
df2[col_list]
df2 = df2[['ISO', 'Value']]

In [10]:
df2

     ISO     Value
0    DEU  4.201444
1    SWE  4.052905
2    BEL  4.039084
3    AUT  4.026005
4    JPN  4.025650
..   ...       ...
145  TJK       NaN
146  MMR       NaN
147  RWA       NaN
148  TMP       NaN
149  AFG       NaN

[940 rows x 2 columns]

In [11]:
yea = [2018]

In [ ]:
df['Year'] = yea[0]

In [ ]:
df

In [ ]:
all_data[5]

In [12]:
year = 2016
df['Year'] = year
df.rename(columns = {'Code':'ISO', 'score': 'Value'}, inplace = True)

In [13]:
df

,Country,ISO,Score,Rank,Confidence interval,% of highest performer,Score.1,Rank.1,Score.2,Rank.2,...,Rank.3,Score.4,Rank.4,Score.5,Rank.5,Score.6,Rank.6,Score.7,Rank.7,Year
0,Singapore,SGP,4.190336,1,0.050683,100.000000,3.89744,3,4.26957,2,...,2,4.21495,2,4.24771,1,2.69608,113,4.52941,1,2016
1,Netherlands,NLD,4.177695,2,0.044932,99.603784,3.99225,1,4.29032,1,...,1,4.25000,1,4.13636,4,2.64815,121,4.38235,5,2016
2,Germany,DEU,4.098695,3,0.026822,97.127559,3.88279,4,4.19133,3,...,4,4.20728,3,4.11864,5,2.34139,136,4.32727,8,2016
3,Sweden,SWE,4.075383,4,0.080550,96.396858,3.84615,6,4.11321,5,...,5,4.06122,6,4.15217,3,2.43750,129,4.43182,4,2016
4,Austria,AUT,4.062574,5,0.106216,95.995339,3.83333,8,4.06061,8,...,3,4.13333,4,3.96552,13,2.24138,141,4.44444,3,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Tajikistan,TJK,1.933323,146,0.185867,29.254709,1.90909,140,2.00000,125,...,136,1.90000,141,1.66667,146,2.33333,138,2.11111,146,2016
146,Myanmar,MMR,1.862039,147,0.170667,27.020328,2.07143,124,1.68750,145,...,146,2.00000,135,1.57143,149,2.92308,76,2.08333,147,2016
147,Rwanda,RWA,1.774818,148,0.133278,24.286416,1.80000,143,1.53333,148,...,148,1.66667,148,1.60000,148,3.07143,52,2.38462,135,2016
148,Timor-Leste,TMP,1.711774,149,0.227145,22.310308,1.62500,147,1.66667,146,...,149,1.60000,149,1.66667,147,3.33333,16,2.25000,141,2016
149,Afghanistan,AFG,1.211669,150,0.099086,6.634704,1.30000,150,1.10000,150,...,150,1.25000,150,1.00000,150,3.12500,40,1.37500,150,2016

In [ ]:
all_dfs.keys()

In [ ]:
df = pd.concat(all_dfs, ignore_index=True)

In [ ]:
df

In [ ]:
all_dfs['2018']

In [ ]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [ ]:
df

In [ ]:
df.drop(df.index[0])

In [ ]:
df.shape[1]  
range(df.shape[1]) 

df.columns = range(df.shape[1])
df.drop(df.index[0])

In [ ]:
df