In [11]:
import pandas as pd
import os
import json

In [30]:
data = pd.read_csv('data/indicator/GE2/processed/GE2.csv')#.Description.unique()

In [31]:
(1e-6 * data['Value']).describe()

count    5.921000e+03
mean     1.441079e-06
std      3.324619e-06
min     -7.602456e-06
25%      3.580943e-07
50%      6.756632e-07
75%      1.252059e-06
max      3.767702e-05
Name: Value, dtype: float64

In [25]:
data['Value'].max()

43.12900628522567

In [17]:
ST = pd.read_csv('data/sustainable_targets/ST_2020.csv')

In [18]:
ST

   Unnamed: 0  Number of targets  Relation   Target 1    Target 2
0         EE1                  1  negative   1.092000         NaN
1         EE2                  1  positive        NaN   51.400000
2         EW1                  1  positive        NaN  265.757935
3         EW2                  2  negative  25.000000   75.000000
4         SL1                  1  positive        NaN  289.338000
5         SL2                  1  positive        NaN   11.900000
6         ME1                  1  negative   0.169685         NaN
7         ME2                  1  negative   5.000000         NaN
8         EQ1                  1  negative  10.000000         NaN
9         EQ2                  1  negative   0.000000         NaN
10        EQ3                  1  negative   0.001753         NaN
11        GE1                  1  negative   0.054000         NaN
12        GE2                  1  negative   0.001775         NaN
13        GE3                  1  negative   0.000000         NaN
14        BE1                  1  positive        NaN  100.000000
15        BE2                  1  positive        NaN   17.000000
16        BE3                  1  positive        NaN  450.000000
17        CV1                  1  positive        NaN    1.000000
18        CV2                  1  positive        NaN  100.000000
19        CV3                  1  positive        NaN   13.500000
20        GV1                  1  positive        NaN   32.438000
21        GT1                  1  positive        NaN   13.520000
22        GJ1                  1  positive        NaN    0.136000
23        GN1                  1  positive        NaN    0.076000
24        AB1                  1  positive        NaN  100.000000
25        AB2                  1  positive        NaN  100.000000
26        AB3                  1  positive        NaN  100.000000
27        GB1                  1  positive        NaN   50.000000
28        GB2                  1  negative   1.000000         NaN
29        GB3                  1  positive        NaN  100.000000
30        SE1                  1  negative   0.700000         NaN
31        SE2                  1  negative   1.000000         NaN
32        SE3                  1  negative   0.000000         NaN
33        SP1                  1  positive        NaN  100.000000
34        SP2                  1  positive        NaN  100.000000
35        SP3                  1  negative   0.000000         NaN

In [13]:
with open('data/indicator/GE1/raw/GE1.0_CW.json') as f:
    data = json.load(f)

In [14]:
data['data']

[{'id': 518198,
  'iso_code3': 'AFG',
  'country': 'Afghanistan',
  'data_source': 'CAIT',
  'sector': 'Total including LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 2.91},
   {'year': 1991, 'value': 2.67},
   {'year': 1992, 'value': 1.38},
   {'year': 1993, 'value': 1.31},
   {'year': 1994, 'value': 1.26},
   {'year': 1995, 'value': 1.21},
   {'year': 1996, 'value': 1.14},
   {'year': 1997, 'value': 1.06},
   {'year': 1998, 'value': 1.0},
   {'year': 1999, 'value': 0.79},
   {'year': 2000, 'value': 0.75},
   {'year': 2001, 'value': 0.79},
   {'year': 2002, 'value': 1.06},
   {'year': 2003, 'value': 1.19},
   {'year': 2004, 'value': 0.94},
   {'year': 2005, 'value': 1.32},
   {'year': 2006, 'value': 1.65},
   {'year': 2007, 'value': 2.26},
   {'year': 2008, 'value': 4.2},
   {'year': 2009, 'value': 6.76},
   {'year': 2010, 'value': 8.45},
   {'year': 2011, 'value': 12.23},
   {'year': 2012, 'value': 10.74},
   {'year': 2013, 'value': 10.0},
   {'year': 2014, 'value': 9.79},
   {'year': 2015, 'value': 7.76},
   {'year': 2016, 'value': 8.57}]},
 {'id': 518286,
  'iso_code3': 'ALB',
  'country': 'Albania',
  'data_source': 'CAIT',
  'sector': 'Total including LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 6.15},
   {'year': 1991, 'value': 4.18},
   {'year': 1992, 'value': 2.28},
   {'year': 1993, 'value': 2.18},
   {'year': 1994, 'value': 2.19},
   {'year': 1995, 'value': 1.98},
   {'year': 1996, 'value': 2.08},
   {'year': 1997, 'value': 1.53},
   {'year': 1998, 'value': 1.92},
   {'year': 1999, 'value': 3.03},
   {'year': 2000, 'value': 3.27},
   {'year': 2001, 'value': 4.06},
   {'year': 2002, 'value': 4.65},
   {'year': 2003, 'value': 4.94},
   {'year': 2004, 'value': 5.14},
   {'year': 2005, 'value': 4.9},
   {'year': 2006, 'value': 3.81},
   {'year': 2007, 'value': 4.04},
   {'year': 2008, 'value': 3.91},
   {'year': 2009, 'value': 4.1},
   {'year': 2010, 'value': 4.3},
   {'year': 2011, 'value': 4.65},
   {'year': 2012, 'value': 4.2},
   {'year': 2013, 'value': 4.35},
   {'year': 2014, 'value': 4.8},
   {'year': 2015, 'value': 4.51},
   {'year': 2016, 'value': 4.4}]},
 {'id': 520373,
  'iso_code3': 'DZA',
  'country': 'Algeria',
  'data_source': 'CAIT',
  'sector': 'Total including LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 68.8},
   {'year': 1991, 'value': 67.79},
   {'year': 1992, 'value': 67.08},
   {'year': 1993, 'value': 74.35},
   {'year': 1994, 'value': 72.41},
   {'year': 1995, 'value': 73.9},
   {'year': 1996, 'value': 72.3},
   {'year': 1997, 'value': 73.72},
   {'year': 1998, 'value': 75.39},
   {'year': 1999, 'value': 78.4},
   {'year': 2000, 'value': 79.46},
   {'year': 2001, 'value': 75.27},
   {'year': 2002, 'value': 80.88},
   {'year': 2003, 'value': 84.37},
   {'year': 2004, 'value': 85.43},
   {'year': 2005, 'value': 89.53},
   {'year': 2006, 'value': 87.05},
   {'year': 2007, 'value': 93.8},
   {'year': 2008, 'value': 98.07},
   {'year': 2009, 'value': 106.27},
   {'year': 2010, 'value': 106.25},
   {'year': 2011, 'value': 117.6},
   {'year': 2012, 'value': 125.91},
   {'year': 2013, 'value': 129.34},
   {'year': 2014, 'value': 138.4},
   {'year': 2015, 'value': 146.39},
   {'year': 2016, 'value': 143.59}]},
 {'id': 518327,
  'iso_code3': 'AND',
  'country': 'Andorra',
  'data_source': 'CAIT',
  'sector': 'Total including LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 0.39},
   {'year': 1991, 'value': 0.39},
   {'year': 1992, 'value': 0.39},
   {'year': 1993, 'value': 0.39},
   {'year': 1994, 'value': 0.39},
   {'year': 1995, 'value': 0.41},
   {'year': 1996, 'value': 0.43},
   {'year': 1997, 'value': 0.45},
   {'year': 1998, 'value': 0.47},
   {'year': 1999, 'value': 0.49},
   {'year': 2000, 'value': 0.5},
   {'year': 2001, 'value': 0.5},
   {'year': 2002, 'value': 0.5},
   {'year': 2003, 'value': 0.51},
   {'year': 2004, 'value': 0.53},
   {'year': 2005, 'value': 0.55},
   {'year': 2006, 'value': 0.51},
   {'year': 2007, 'value': 0.5},
   {'year': 2008, 'value': 0.5},
   {'year': 2009, 'value': 0.48},
   {'year': 2010, 'value': 0.48},
   {'year': 2011, 'value': 0.47},
   {'year': 2012, 'value': 0.47},
   {'year': 2013, 'value': 0.45},
   {'year': 2014, 'value': 0.44},
   {'year': 2015, 'value': -0.02},
   {'year': 2016, 'value': -0.02}]},
 {'id': 518239,
  'iso_code3': 'AGO',
  'country': 'Angola',
  'data_source': 'CAIT',
  'sector': 'Total including LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 93.08},
   {'year': 1991, 'value': 93.29},
   {'year': 1992, 'value': 93.15},
   {'year': 1993, 'value': 93.65},
   {'year': 1994, 'value': 93.48},
   {'year': 1995, 'value': 97.54},
   {'year': 1996, 'value': 93.65},
   {'year': 1997, 'value': 91.1},
   {'year': 1998, 'value': 95.36},
   {'year': 1999, 'value': 92.07},
   {'year': 2000, 'value': 94.98},
   {'year': 2001, 'value': 83.71},
   {'year': 2002, 'value': 100.58},
   {'year': 2003, 'value': 110.65},
   {'year': 2004, 'value': 118.75},
   {'year': 2005, 'value': 116.58},
   {'year': 2006, 'value': 99.94},
   {'year': 2007, 'value': 119.35},
   {'year': 2008, 'value': 104.23},
   {'year': 2009, 'value': 108.19},
   {'year': 2010, 'value': 111.34},
   {'year': 2011, 'value': 135.86},
   {'year': 2012, 'value': 110.49},
   {'year': 2013, 'value': 122.82},
   {'year': 2014, 'value': 110.29},
   {'year': 2015, 'value': 125.8},
   {'year': 2016, 'value': 107.14}]},
 {'id': 518503,
  'iso_code3': 'ATG',
  'country': 'Antigua and Barbuda',
  'data_source': 'CAIT',
  'sector': 'Total including LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 0.26},
   {'year': 1991, 'value': 0.25},
   {'year': 1992, 'value': 0.25},
   {'year': 1993, 'value': 0.25},
   {'year': 1994, 'value': 0.25},
   {'year': 1995, 'value': 0.26},
   {'year': 1996, 'value': 0.28},
   {'year': 1997, 'value': 0.29},
   {'year': 1998, 'value': 0.3},
   {'year': 1999, 'value': 0.31},
   {'year': 2000, 'value': 0.33},
   {'year': 2001, 'value': 0.34},
   {'year': 2002, 'value': 0.37},
   {'year': 2003, 'value': 0.4},
   {'year': 2004, 'value': 0.42},
   {'year': 2005, 'value': 0.42},
   {'year': 2006, 'value': 0.54},
   {'year': 2007, 'value': 0.56},
   {'year': 2008, 'value': 0.57},
   {'year': 2009, 'value': 0.6},
   {'year': 2010, 'value': 0.62},
   {'year': 2011, 'value': 0.52},
   {'year': 2012, 'value': 0.53},
   {'year': 2013, 'value': 0.53},
   {'year': 2014, 'value': 0.54},
   {'year': 2015, 'value': 0.74},
   {'year': 2016, 'value': 0.75}]},
 {'id': 518414,
  'iso_code3': 'ARG',
  'country': 'Argentina',
  'data_source': 'CAIT',
  'sector': 'Total including LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 175.94},
   {'year': 1991, 'value': 181.08},
   {'year': 1992, 'value': 183.08},
   {'year': 1993, 'value': 184.31},
   {'year': 1994, 'value': 192.03},
   {'year': 1995, 'value': 193.95},
   {'year': 1996, 'value': 200.59},
   {'year': 1997, 'value': 203.92},
   {'year': 1998, 'value': 208.78},
   {'year': 1999, 'value': 211.39},
   {'year': 2000, 'value': 209.77},
   {'year': 2001, 'value': 218.99},
   {'year': 2002, 'value': 216.97},
   {'year': 2003, 'value': 225.76},
   {'year': 2004, 'value': 249.78},
   {'year': 2005, 'value': 248.19},
   {'year': 2006, 'value': 275.35},
   {'year': 2007, 'value': 275.41},
   {'year': 2008, 'value': 289.39},
   {'year': 2009, 'value': 284.96},
   {'year': 2010, 'value': 277.56},
   {'year': 2011, 'value': 284.34},
   {'year': 2012, 'value': 296.03},
   {'year': 2013, 'value': 283.97},
   {'year': 2014, 'value': 286.27},
   {'year': 2015, 'value': 289.58},
   {'year': 2016, 'value': 292.09}]},
 {'id': 518461,
  'iso_code3': 'ARM',
  'country': 'Armenia',
  'data_source': 'CAIT',
  'sector': 'Total including LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 19.93},
   {'year': 1991, 'value': 20.83},
   {'year': 1992, 'value': 10.92},
   {'year': 1993, 'value': 5.08},
   {'year': 1994, 'value': 2.86},
   {'year': 1995, 'value': 3.59},
   {'year': 1996, 'value': 2.6},
   {'year': 1997, 'value': 3.49},
   {'year': 1998, 'value': 3.63},
   {'year': 1999, 'value': 3.19},
   {'year': 2000, 'value': 3.67},
   {'year': 2001, 'value': 3.76},
   {'year': 2002, 'value': 3.23},
   {'year': 2003, 'value': 3.64},
   {'year': 2004, 'value': 3.92},
   {'year': 2005, 'value': 4.55},
   {'year': 2006, 'value': 4.66},
   {'year': 2007, 'value': 5.33},
   {'year': 2008, 'value': 5.84},
   {'year': 2009, 'value': 4.67},
   {'year': 2010, 'value': 4.41},
   {'year': 2011, 'value': 4.82},
   {'year': 2012, 'value': 5.53},
   {'year': 2013, 'value': 5.33},
   {'year': 2014, 'value': 5.32},
   {'year': 2015, 'value': 4.82},
   {'year': 2016, 'value': 5.02}]},
 {'id': 518544,
  'iso_code3': 'AUS',
  'country': 'Australia',
  'data_source': 'CAIT',
  'sector': 'Total including LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 260.49},
   {'year': 1991, 'value': 261.57},
   {'year': 1992, 'value': 265.3},
   {'year': 1993, 'value': 269.28},
   {'year': 1994, 'value': 275.55},
   {'year': 1995, 'value': 285.88},
   {'year': 1996, 'value': 295.9},
   {'year': 1997, 'value': 302.92},
   {'year': 1998, 'value': 323.94},
   {'year': 1999, 'value': 329.1},
   {'year': 2000, 'value': 335.18},
   {'year': 2001, 'value': 391.62},
   {'year': 2002, 'value': 398.21},
   {'year': 2003, 'value': 403.43},
   {'year': 2004, 'value': 413.52},
   {'year': 2005, 'value': 418.94},
   {'year': 2006, 'value': 382.61},
   {'year': 2007, 'value': 392.0},
   {'year': 2008, 'value': 393.1},
   {'year': 2009, 'value': 400.81},
   {'year': 2010, 'value': 391.99},
   {'year': 2011, 'value': 320.73},
   {'year': 2012, 'value': 320.35},
   {'year': 2013, 'value': 317.95},
   {'year': 2014, 'value': 306.72},
   {'year': 2015, 'value': 312.52},
   {'year': 2016, 'value': 326.04}]},
 {'id': 518591,
  'iso_code3': 'AUT',
  'country': 'Austria',
  'data_source': 'CAIT',
  'sector': 'Total including LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 46.23},
   {'year': 1991, 'value': 50.4},
   {'year': 1992, 'value': 45.7},
   {'year': 1993, 'value': 45.83},
   {'year': 1994, 'value': 46.3},
   {'year': 1995, 'value': 49.13},
   {'year': 1996, 'value': 52.93},
   {'year': 1997, 'value': 52.26},
   {'year': 1998, 'value': 52.7},
   {'year': 1999, 'value': 51.0},
   {'year': 2000, 'value': 51.51},
   {'year': 2001, 'value': 60.68},
   {'year': 2002, 'value': 62.1},
   {'year': 2003, 'value': 67.21},
   {'year': 2004, 'value': 68.57},
   {'year': 2005, 'value': 68.86},
   {'year': 2006, 'value': 69.45},
   {'year': 2007, 'value': 67.22},
   {'year': 2008, 'value': 66.93},
   {'year': 2009, 'value': 60.29},
   {'year': 2010, 'value': 65.62},
   {'year': 2011, 'value': 63.33},
   {'year': 2012, 'value': 60.73},
   {'year': 2013, 'value': 61.42},
   {'year': 2014, 'value': 57.8},
   {'year': 2015, 'value': 59.16},
   {'year': 2016, 'value': 59.59}]},
 {'id': 518638,
  'iso_code3': 'AZE',
  'country': 'Azerbaijan',
  'data_source': 'CAIT',
  'sector': 'Total including LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 56.35},
   {'year': 1991, 'value': 65.88},
   {'year': 1992, 'value': 43.44},
   {'year': 1993, 'value': 52.41},
   {'year': 1994, 'value': 46.45},
   {'year': 1995, 'value': 44.65},
   {'year': 1996, 'value': 39.25},
   {'year': 1997, 'value': 38.35},
   {'year': 1998, 'value': 38.28},
   {'year': 1999, 'value': 37.67},
   {'year': 2000, 'value': 38.85},
   {'year': 2001, 'value': 37.74},
   {'year': 2002, 'value': 37.17},
   {'year': 2003, 'value': 33.36},
   {'year': 2004, 'value': 33.14},
   {'year': 2005, 'value': 35.69},
   {'year': 2006, 'value': 26.71},
   {'year': 2007, 'value': 20.05},
   {'year': 2008, 'value': 22.11},
   {'year': 2009, 'value': 17.66},
   {'year': 2010, 'value': 16.65},
   {'year': 2011, 'value': 20.25},
   {'year': 2012, 'value': 22.58},
   {'year': 2013, 'value': 23.34},
   {'year': 2014, 'value': 24.64},
   {'year': 2015, 'value': 24.52},
   {'year': 2016, 'value': 25.12}]},
 {'id': 518987,
  'iso_code3': 'BHS',
  'country': 'Bahamas',
  'data_source': 'CAIT',
  'sector': 'Total including LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 0.5},
   {'year': 1991, 'value': 0.33},
   {'year': 1992, 'value': 0.34},
   {'year': 1993, 'value': 0.24},
   {'year': 1994, 'value': 0.23},
   {'year': 1995, 'value': 0.23},
   {'year': 1996, 'value': 0.22},
   {'year': 1997, 'value': -0.09},
   {'year': 1998, 'value': 0.23},
   {'year': 1999, 'value': 0.22},
   {'year': 2000, 'value': 0.22},
   {'year': 2001, 'value': 0.6},
   {'year': 2002, 'value': 0.61},
   {'year': 2003, 'value': 0.55},
   {'year': 2004, 'value': 0.76},
   {'year': 2005, 'value': 0.77},
   {'year': 2006, 'value': 6.57},
   {'year': 2007, 'value': 6.6},
   {'year': 2008, 'value': 6.41},
   {'year': 2009, 'value': 6.55},
   {'year': 2010, 'value': 6.56},
   {'year': 2011, 'value': 2.21},
   {'year': 2012, 'value': 2.31},
   {'year': 2013, 'value': 3.15},
   {'year': 2014, 'value': 2.76},
   {'year': 2015, 'value': 3.3},
   {'year': 2016, 'value': 3.44}]},
 {'id': 518945,
  'iso_code3': 'BHR',
  'country': 'Bahrain',
  'data_source': 'CAIT',
  'sector': 'Total including LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 10.76},
   {'year': 1991, 'value': 10.36},
   {'year': 1992, 'value': 12.29},
   {'year': 1993, 'value': 13.09},
   {'year': 1994, 'value': 13.39},
   {'year': 1995, 'value': 13.58},
   {'year': 1996, 'value': 14.17},
   {'year': 1997, 'value': 14.36},
   {'year': 1998, 'value': 15.49},
   {'year': 1999, 'value': 15.46},
   {'year': 2000, 'value': 15.83},
   {'year': 2001, 'value': 16.43},
   {'year': 2002, 'value': 17.22},
   {'year': 2003, 'value': 17.94},
   {'year': 2004, 'value': 17.94},
   {'year': 2005, 'value': 20.73},
   {'year': 2006, 'value': 22.54},
   {'year': 2007, 'value': 23.04},
   {'year': 2008, 'value': 24.75},
   {'year': 2009, 'value': 24.75},
   {'year': 2010, 'value': 26.03},
   {'year': 2011, 'value': 26.06},
   {'year': 2012, 'value': 26.57},
   {'year': 2013, 'value': 28.77},
   {'year': 2014, 'value': 30.22},
   {'year': 2015, 'value': 30.62},
   {'year': 2016, 'value': 30.12}]},
 {'id': 518851,
  'iso_code3': 'BGD',
  'country': 'Bangladesh',
  'data_source': 'CAIT',
  'sector': 'Total including LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 35.11},
   {'year': 1991, 'value': 34.48},
   {'year': 1992, 'value': 35.38},
   {'year': 1993, 'value': 36.18},
   {'year': 1994, 'value': 37.19},
   {'year': 1995, 'value': 40.19},
   {'year': 1996, 'value': 40.17},
   {'year': 1997, 'value': 42.28},
   {'year': 1998, 'value': 42.76},
   {'year': 1999, 'value': 43.82},
   {'year': 2000, 'value': 45.5},
   {'year': 2001, 'value': 48.96},
   {'year': 2002, 'value': 50.7},
   {'year': 2003, 'value': 51.94},
   {'year': 2004, 'value': 54.66},
   {'year': 2005, 'value': 55.96},
   {'year': 2006, 'value': 49.19},
   {'year': 2007, 'value': 51.12},
   {'year': 2008, 'value': 57.14},
   {'year': 2009, 'value': 60.19},
   {'year': 2010, 'value': 68.17},
   {'year': 2011, 'value': 79.33},
   {'year': 2012, 'value': 82.52},
   {'year': 2013, 'value': 85.77},
   {'year': 2014, 'value': 89.14},
   {'year': 2015, 'value': 97.7},
   {'year': 2016, 'value': 99.59}]},
 {'id': 519247,
  'iso_code3': 'BRB',
  'country': 'Barbados',
  'data_source': 'CAIT',
  'sector': 'Total including LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 1.04},
   {'year': 1991, 'value': 1.17},
   {'year': 1992, 'value': 0.95},
   {'year': 1993, 'value': 1.09},
   {'year': 1994, 'value': 0.73},
   {'year': 1995, 'value': 0.81},
   {'year': 1996, 'value': 0.82},
   {'year': 1997, 'value': 0.87},
   {'year': 1998, 'value': 1.1},
   {'year': 1999, 'value': 1.17},
   {'year': 2000, 'value': 1.15},
   {'year': 2001, 'value': 1.19},
   {'year': 2002, 'value': 1.19},
   {'year': 2003, 'value': 1.23},
   {'year': 2004, 'value': 1.25},
   {'year': 2005, 'value': 1.31},
   {'year': 2006, 'value': 1.4},
   {'year': 2007, 'value': 1.39},
   {'year': 2008, 'value': 1.65},
   {'year': 2009, 'value': 1.65},
   {'year': 2010, 'value': 1.55},
   {'year': 2011, 'value': 1.51},
   {'year': 2012, 'value': 1.49},
   {'year': 2013, 'value': 1.47},
   {'year': 2014, 'value': 1.27},
   {'year': 2015, 'value': 1.77},
   {'year': 2016, 'value': 1.84}]},
 {'id': 519075,
  'iso_code3': 'BLR',
  'country': 'Belarus',
  'data_source': 'CAIT',
  'sector': 'Total including LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 88.08},
   {'year': 1991, 'value': 84.38},
   {'year': 1992, 'value': 76.52},
   {'year': 1993, 'value': 64.97},
   {'year': 1994, 'value': 53.34},
   {'year': 1995, 'value': 46.28},
   {'year': 1996, 'value': 46.38},
   {'year': 1997, 'value': 46.92},
   {'year': 1998, 'value': 45.13},
   {'year': 1999, 'value': 43.01},
   {'year': 2000, 'value': 40.93},
   {'year': 2001, 'value': 31.84},
   {'year': 2002, 'value': 37.32},
   {'year': 2003, 'value': 34.21},
   {'year': 2004, 'value': 35.58},
   {'year': 2005, 'value': 36.49},
   {'year': 2006, 'value': 31.11},
   {'year': 2007, 'value': 28.53},
   {'year': 2008, 'value': 31.34},
   {'year': 2009, 'value': 28.43},
   {'year': 2010, 'value': 32.46},
   {'year': 2011, 'value': 55.41},
   {'year': 2012, 'value': 58.38},
   {'year': 2013, 'value': 57.2},
   {'year': 2014, 'value': 57.84},
   {'year': 2015, 'value': 53.65},
   {'year': 2016, 'value': 52.22}]},
 {'id': 518721,
  'iso_code3': 'BEL',
  'country': 'Belgium',
  'data_source': 'CAIT',
  'sector': 'Total including LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 105.29},
   {'year': 1991, 'value': 110.05},
   {'year': 1992, 'value': 108.46},
   {'year': 1993, 'value': 106.45},
   {'year': 1994, 'value': 111.35},
   {'year': 1995, 'value': 110.92},
   {'year': 1996, 'value': 115.88},
   {'year': 1997, 'value': 112.93},
   {'year': 1998, 'value': 115.54},
   {'year': 1999, 'value': 111.58},
   {'year': 2000, 'value': 113.8},
   {'year': 2001, 'value': 114.74},
   {'year': 2002, 'value': 107.28},
   {'year': 2003, 'value': 112.01},
   {'year': 2004, 'value': 110.61},
   {'year': 2005, 'value': 107.01},
   {'year': 2006, 'value': 105.81},
   {'year': 2007, 'value': 102.18},
   {'year': 2008, 'value': 104.03},
   {'year': 2009, 'value': 96.89},
   {'year': 2010, 'value': 103.58},
   {'year': 2011, 'value': 92.91},
   {'year': 2012, 'value': 92.22},
   {'year': 2013, 'value': 93.42},
   {'year': 2014, 'value': 87.32},
   {'year': 2015, 'value': 92.23},
   {'year': 2016, 'value': 91.31}]},
 {'id': 519117,
  'iso_code3': 'BLZ',
  'country': 'Belize',
  'data_source': 'CAIT',
  'sector': 'Total including LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 6.18},
   {'year': 1991, 'value': 6.23},
   {'year': 1992, 'value': 6.22},
   {'year': 1993, 'value': 6.24},
   {'year': 1994, 'value': 6.24},
   {'year': 1995, 'value': 6.24},
   {'year': 1996, 'value': 4.97},
   {'year': 1997, 'value': 4.88},
   {'year': 1998, 'value': 5.05},
   {'year': 1999, 'value': 4.98},
   {'year': 2000, 'value': 4.99},
   {'year': 2001, 'value': 6.46},
   {'year': 2002, 'value': 8.15},
   {'year': 2003, 'value': 8.17},
   {'year': 2004, 'value': 6.26},
   {'year': 2005, 'value': 7.88},
   {'year': 2006, 'value': 6.46},
   {'year': 2007, 'value': 7.92},
   {'year': 2008, 'value': 6.9},
   {'year': 2009, 'value': 6.06},
   {'year': 2010, 'value': 7.58},
   {'year': 2011, 'value': 4.62},
   {'year': 2012, 'value': 2.42},
   {'year': 2013, 'value': 5.25},
   {'year': 2014, 'value': 2.54},
   {'year': 2015, 'value': 3.65},