In [1]:
import pandas as pd
import numpy as np

In [3]:
pd.read_csv('data/sustainable_targets/ST_2020.csv', index_col=0)

     Number of targets  Relation   Target 1    Target 2
EE1                  1  negative   0.928000         NaN
EE2                  1  positive        NaN   51.400000
EW1                  1  positive        NaN  265.757935
EW2                  2  negative  25.000000   75.000000
SL1                  1  negative   5.000000         NaN
SL2                  1  positive        NaN   11.900000
ME1                  1  negative   0.169685         NaN
ME2                  1  negative   5.000000         NaN
EQ1                  1  negative  10.000000         NaN
EQ2                  1  negative   0.000000         NaN
EQ3                  1  negative   0.001753         NaN
GE1                  1  negative   0.101812         NaN
GE2                  1  negative   0.000000         NaN
GE3                  1  negative   0.000000         NaN
BE1                  1  positive        NaN  100.000000
BE2                  1  positive        NaN   17.000000
BE3                  1  positive        NaN  428.688000
CV1                  1  positive        NaN    1.000000
CV2                  1  positive        NaN  100.000000
CV3                  1  positive        NaN   13.500000
GV1                  1  positive        NaN   37.944049
GT1                  1  positive        NaN   18.279116
GJ1                  1  positive        NaN    0.144294
GN1                  1  positive        NaN    0.051237
AB1                  1  positive        NaN  100.000000
AB2                  1  positive        NaN  100.000000
AB3                  1  positive        NaN  100.000000
GB1                  1  positive        NaN   50.000000
GB2                  1  negative   1.000000         NaN
GB3                  1  positive        NaN  100.000000
SE1                  1  negative   0.861315         NaN
SE2                  1  negative   1.000000         NaN
SE3                  1  negative   0.000000         NaN
SP1                  1  positive        NaN  100.000000
SP2                  1  positive        NaN  100.000000
SP3                  1  negative   0.000000         NaN

In [2]:
data = pd.read_csv('data/full_data/data.csv')

In [3]:
#ST = pd.read_csv('data/sustainable_targets/ST_2020.csv', index_col=0)

In [4]:
def compute_ST_indicator(data, relation):
    
    if relation == 'negative':
        year_of_best = data[data.Value == data.Value.min()]['Year'].values[0]
    if relation == 'positive':
        year_of_best = data[data.Value == data.Value.max()]['Year'].values[0]

    df = data[data.Year == year_of_best].dropna(subset=['Value'])
    
    if relation == 'negative':
        ST = max(0,df.sort_values(by='Value').head(5).Value.mean())
    if relation == 'positive':
        ST = df.sort_values(by='Value', ascending=False).head(5).Value.mean()
    
    return ST

In [6]:
compute_ST_indicator(data[(data.Year > 2005) & (data.Indicator == 'ME1')], 'negative')

0.17309245441345697

In [162]:
ST.loc['BE3']

Number of targets           1
Relation             positive
Target 1                  NaN
Target 2                  450
Name: BE3, dtype: object

In [163]:
ST_new = ST.copy()
ST_to_compute = ['EE1', 'GE1', 'GE2', 'GE3', 'BE3', 'GV1', 'GT1', 'GJ1', 'GN1', 'SE1']

for indicator in ST_to_compute:
    df = data[(data.Year > 2005) & (data.Indicator == indicator)]
    relation = ST.loc[indicator].Relation
    print(indicator)
    indicator_st = compute_ST_indicator(df, relation)
    if relation == 'negative':
        ST_new.loc[indicator, 'Target 1'] = indicator_st
    else:
        ST_new.loc[indicator, 'Target 2'] = indicator_st

    print(indicator_st)

EE1
0.9279999999999999
GE1
0.10181212240598955
GE2
0
GE3
0
BE3
428.688
GV1
37.944048794713
GT1
18.279115509743377
GJ1
0.14429402067494418
GN1
0.05123688571908845
SE1
0.8613147418834485

In [172]:
ST_new.to_csv('data/sustainable_targets/ST_2020.csv')

In [2]:
ST = pd.read_csv('data/sustainable_targets/ST_2020.csv', index_col=0)

In [3]:
ST.loc['SL1']

Number of targets           1
Relation             negative
Target 1                    5
Target 2                  NaN
Name: SL1, dtype: object

In [10]:
ST.loc['SL1', 'Relation'] = 'negative'
ST.loc['SL1', 'Target 1'] = 5
ST.loc['SL1', 'Target 2'] = np.nan

In [ ]:
ST.loc['GE1', 'Target 1'] = 0.19
ST.loc['GE2', 'Target 1'] = 0.06
ST.loc['GE3', 'Target 1'] = 0.0

In [11]:
ST.to_csv('data/sustainable_targets/ST_2020.csv')

In [ ]:
df = pd.read_csv('data/indicator/GE1/computed/GE1.csv')
df[df.Year == 2016].sort_values(by='Value').head(5).mean()

In [ ]:
df = pd.read_csv('data/indicator/GE2/computed/GE2.csv')
df[df.Year == 2016].sort_values(by='Value').head(5).mean()

In [ ]:
(0.050277 + 0.124163	 + 0.134547) / 5

In [ ]:
df = pd.read_csv('data/indicator/GE3/computed/GE3.csv')
df[df.Year == 2016].sort_values(by='Value').head(5).mean()

In [ ]:
ST

In [ ]:
df[df.Year == 2016].sort_values(by='Value').head(15)

In [37]:
import pandas as pd
from index.utils import ISO_to_Everything, add_All_ISOs
data = pd.read_csv('data/full_data/result.csv')
with pd.ExcelWriter('data/results/timeseries.xlsx') as writer:
    for agg in ['Indicator_normed', 'Category', 'Dimension', 'Index']:
        df = data[data.Aggregation == agg]
        variables = df['Variable'].unique()
        for var in variables:
            print(var)
            df_formatted = df[df.Variable == var]
            df_formatted['Year'] = df_formatted['Year'].astype(int)
            df_formatted = df_formatted.pivot(index=['ISO', 'Country', 'Continent', 'UNregion', 'IncomeLevel', 'Region'], columns='Year', values='Value' )
            df_formatted = ISO_to_Everything(df_formatted)
            df_formatted = df_formatted[['Country', 'Continent',
                          'UNregion','IncomeLevel',
                          'Region'] + list(range(2005, 2021))]
            df_formatted.to_excel(writer, sheet_name=var)

AB1
AB2

/home/simon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

AB3
BE1
BE2
BE3
CV1
CV2
CV3
EE1
EE2
EQ1
EQ2
EQ3
EW1
EW2
GB1
GB2
GB3
GE1
GE2
GE3
GJ1
GN1
GT1
GV1
ME1
ME2
SE1
SE2
SE3
SL1
SL2
SP1
SP2
SP3
AB
BE
CV
EE
EQ
EW
GB
GE
GJ
GN
GT
GV
ME
SE
SL
SP
SI
NCP
ESRU
GEO
Index

In [28]:
for agg in ['Category', 'Dimension', 'Index']:
    df = data[data.Aggregation == agg]
    variables = df['Variable'].unique()
    for var in variables:
        df_formatted = df[df.Variable == var]
        df_formatted['Year'] = df_formatted['Year'].astype(int)
        df_formatted = df_formatted.pivot(index=['ISO', 'Country', 'Continent', 'UNregion', 'IncomeLevel', 'Region'], columns='Year', values='Value' )

/home/simon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [176]:
import pandas as pd
data = pd.read_csv('data/full_data/result.csv')
data[(data.Year == 2019) & (data.Aggregation == "Index")].sort_values(['Continent','Value'],ascending=False).groupby('Continent').head(5)
#data[(data.Year == 2019) & (data.Variable == "SL1") & (data.Aggregation == 'Indicator_normed')].sort_values(['Continent','Value'],ascending=False).groupby('Continent').head(3)

,ISO,Variable,Value,Aggregation,Year,Country,Continent,UNregion,IncomeLevel,Region
227711,NZL,Index,58.46,Index,2019.0,New Zealand,Oceania,Australia and New Zealand,High income,East Asia & Pacific
17576,AUS,Index,52.75,Index,2019.0,Australia,Oceania,Australia and New Zealand,High income,East Asia & Pacific
310530,SWE,Index,77.96,Index,2019.0,Sweden,Europe,Northern Europe,High income,Europe & Central Asia
85659,DNK,Index,77.15,Index,2019.0,Denmark,Europe,Northern Europe,High income,Europe & Central Asia
119688,DEU,Index,75.28,Index,2019.0,Germany,Europe,Western Europe,High income,Europe & Central Asia
84171,CZE,Index,74.88,Index,2019.0,Czech Republic,Europe,Eastern Europe,High income,Europe & Central Asia
19064,AUT,Index,73.89,Index,2019.0,Austria,Europe,Western Europe,High income,Europe & Central Asia
159621,JPN,Index,62.41,Index,2019.0,Japan,Asia,Eastern Asia,High income,East Asia & Pacific
118200,GEO,Index,59.69,Index,2019.0,Georgia,Asia,Western Asia,Upper middle income,Europe & Central Asia
64955,CHN,Index,58.40,Index,2019.0,China,Asia,Eastern Asia,Upper middle income,East Asia & Pacific
252889,PHL,Index,57.04,Index,2019.0,Philippines,Asia,South-Eastern Asia,Lower middle income,East Asia & Pacific
291348,KOR,Index,52.22,Index,2019.0,South Korea,Asia,Eastern Asia,High income,East Asia & Pacific
205508,MEX,Index,62.07,Index,2019.0,Mexico,America,Central America,Upper middle income,Latin America & Caribbean
341614,USA,Index,60.77,Index,2019.0,United States,America,Northern America,High income,North America
57563,CAN,Index,59.30,Index,2019.0,Canada,America,Northern America,High income,North America
42751,BRA,Index,56.96,Index,2019.0,Brazil,America,South America,Upper middle income,Latin America & Caribbean
75291,CRI,Index,54.50,Index,2019.0,Costa Rica,America,Central America,Upper middle income,Latin America & Caribbean
215873,MAR,Index,51.46,Index,2019.0,Morocco,Africa,Northern Africa,Lower middle income,Middle East & North Africa
289859,ZAF,Index,47.90,Index,2019.0,South Africa,Africa,Southern Africa,Upper middle income,Sub-Saharan Africa
328288,TUN,Index,46.76,Index,2019.0,Tunisia,Africa,Northern Africa,Lower middle income,Middle East & North Africa
335678,UGA,Index,44.41,Index,2019.0,Uganda,Africa,Eastern Africa,Low income,Sub-Saharan Africa
202548,MUS,Index,43.76,Index,2019.0,Mauritius,Africa,Eastern Africa,High income,Sub-Saharan Africa

In [2]:
data[(data.Year == 2019) & (data.Variable == "SP2")].sort_values(['Continent','Value'],ascending=False).groupby('Continent').head(5)

,ISO,Variable,Value,Aggregation,Year,Country,Continent,UNregion,IncomeLevel,Region
17611,AUS,SP2,87.00,Indicator,2019.0,Australia,Oceania,Australia and New Zealand,High income,East Asia & Pacific
227746,NZL,SP2,87.00,Indicator,2019.0,New Zealand,Oceania,Australia and New Zealand,High income,East Asia & Pacific
17647,AUS,SP2,82.70,Indicator_normed,2019.0,Australia,Oceania,Australia and New Zealand,High income,East Asia & Pacific
227782,NZL,SP2,82.70,Indicator_normed,2019.0,New Zealand,Oceania,Australia and New Zealand,High income,East Asia & Pacific
107873,FJI,SP2,64.00,Indicator,2019.0,Fiji,Oceania,Melanesia,Upper middle income,East Asia & Pacific
239585,NOR,SP2,87.00,Indicator,2019.0,Norway,Europe,Northern Europe,High income,Europe & Central Asia
340161,GBR,SP2,87.00,Indicator,2019.0,United Kingdom,Europe,Northern Europe,High income,Europe & Central Asia
224786,NLD,SP2,86.00,Indicator,2019.0,Netherlands,Europe,Western Europe,High income,Europe & Central Asia
310565,SWE,SP2,86.00,Indicator,2019.0,Sweden,Europe,Northern Europe,High income,Europe & Central Asia
29475,BEL,SP2,84.00,Indicator,2019.0,Belgium,Europe,Western Europe,High income,Europe & Central Asia
281015,SGP,SP2,86.00,Indicator,2019.0,Singapore,Asia,South-Eastern Asia,High income,East Asia & Pacific
291383,KOR,SP2,86.00,Indicator,2019.0,South Korea,Asia,Eastern Asia,High income,East Asia & Pacific
159656,JPN,SP2,83.00,Indicator,2019.0,Japan,Asia,Eastern Asia,High income,East Asia & Pacific
155208,ISR,SP2,82.00,Indicator,2019.0,Israel,Asia,Western Asia,High income,Middle East & North Africa
281051,SGP,SP2,81.38,Indicator_normed,2019.0,Singapore,Asia,South-Eastern Asia,High income,East Asia & Pacific
57598,CAN,SP2,89.00,Indicator,2019.0,Canada,America,Northern America,High income,North America
57634,CAN,SP2,85.33,Indicator_normed,2019.0,Canada,America,Northern America,High income,North America
341649,USA,SP2,84.00,Indicator,2019.0,United States,America,Northern America,High income,North America
79759,CUB,SP2,83.00,Indicator,2019.0,Cuba,America,Caribbean,Upper middle income,Latin America & Caribbean
344609,URY,SP2,80.00,Indicator,2019.0,Uruguay,America,South America,High income,Latin America & Caribbean
4304,DZA,SP2,78.00,Indicator,2019.0,Algeria,Africa,Northern Africa,Lower middle income,Middle East & North Africa
278071,SYC,SP2,71.00,Indicator,2019.0,Seychelles,Africa,Eastern Africa,High income,Sub-Saharan Africa
4340,DZA,SP2,70.84,Indicator_normed,2019.0,Algeria,Africa,Northern Africa,Lower middle income,Middle East & North Africa
215908,MAR,SP2,70.00,Indicator,2019.0,Morocco,Africa,Northern Africa,Lower middle income,Middle East & North Africa
328323,TUN,SP2,70.00,Indicator,2019.0,Tunisia,Africa,Northern Africa,Lower middle income,Middle East & North Africa

In [3]:

files = {'AB1': 'AB1_SDG.csv',
         'AB2': 'AB2_SDG.csv',
         'AB3': 'AB3.csv',
         'BE1': 'BE1.csv',
         'BE2': 'BE2_WB.csv',
         'BE3': 'BE3_SDG.csv',
         'CV1': 'CV1_SDG.csv',
         'CV2': 'CV2_origin.M.csv',
         'CV3': 'CV3_WB.csv',
         'EE1': 'EE1_SDG.csv',
         'EE2': 'EE2_SDG.csv',
         'EQ1': "EQ1_WB.csv",
         'EQ2': 'EQ2_origin.M.csv',
         'EQ3': 'EQ3_origin.M.csv',
         'EW1': 'EW1_SDG.csv',
         'EW2': 'EW2_SDG.csv',
         'GB1': 'GB1_SDG.csv',
         'GB2': 'GB2_SDG.csv',
         'GB3': 'GB3_origin.M.csv',
         'GE1': 'GE1.csv',
         'GE2': 'GE2.csv',
         'GE3': 'GE3.csv',
         'GJ1': 'GJ1_origin.M.csv',
         'GN1': 'GN1_origin.M.csv',
         'GT1': 'GT1_origin.M.csv',
         'GV1': 'GV1_WB.csv',
         'ME1': 'ME1_origin.M.csv',
         'ME2': 'ME2_origin.M.csv',
         'SE1': 'SE1.csv',
         'SE2': 'SE2_SDG.csv',
         'SE3': 'SE3_SDG.csv',
         'SL1': 'SL1_origin.M.csv',
         'SL2': 'SL2_origin.M.csv',
         'SP1': 'SP1_SDG.csv',
         'SP2': 'SP2_origin.M.csv',
         'SP3': 'SP3_SDG.csv'
         }

In [7]:
res = []
for indicator, file in files.items():
    df = pd.read_csv(f'data/indicator/{indicator}/processed/{file}')
    res.append([indicator, df.Description.unique()[0]])

In [12]:
pd.DataFrame(res, columns=['indicator', 'description']).to_csv('data/results/indicator_description.xls')

In [6]:
pd.read_csv('data/indicator/SP2/processed/SP2_SDG.csv').Value.min()

12.4

In [3]:
pd.read_csv('data/indicator/SP2/raw/SP2_GHD.M.csv')

,location_id,location_name,year_id,indicator_id,indicator_name,measure,val,lower,upper
0,1,Global,1990,849,Non-melanoma skin cancer (squamous-cell carcin...,Index (0 to 100),65.2,59.6,70.8
1,1,Global,1995,849,Non-melanoma skin cancer (squamous-cell carcin...,Index (0 to 100),66.5,61.0,71.8
2,1,Global,2000,849,Non-melanoma skin cancer (squamous-cell carcin...,Index (0 to 100),66.7,61.2,71.9
3,1,Global,2005,849,Non-melanoma skin cancer (squamous-cell carcin...,Index (0 to 100),67.3,62.0,72.5
4,1,Global,2010,849,Non-melanoma skin cancer (squamous-cell carcin...,Index (0 to 100),67.0,61.6,72.1
...,...,...,...,...,...,...,...,...,...
44347,522,Sudan,1995,100,Healthcare Access and Quality,Index (0 to 100),38.8,34.1,43.2
44348,522,Sudan,2000,100,Healthcare Access and Quality,Index (0 to 100),42.0,37.2,46.7
44349,522,Sudan,2005,100,Healthcare Access and Quality,Index (0 to 100),44.9,40.1,49.6
44350,522,Sudan,2010,100,Healthcare Access and Quality,Index (0 to 100),47.4,42.6,52.5
44351,522,Sudan,2015,100,Healthcare Access and Quality,Index (0 to 100),50.1,45.0,55.1