In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('data/indicator/TMP/raw/TMP_IEA.M.xlsx')

In [4]:
df.replace("..", np.nan).dropna(axis=0, how='all').to_csv('data/indicator/TMP/raw/TMP_IEA.M.csv', index=False)

In [5]:
df = pd.read_csv('data/indicator/TMP/raw/TMP_IEA.M.csv',)

In [6]:
def process_TMP():
    df = (
        pd.read_csv('data/indicator/TMP/raw/TMP_IEA.M.csv')
          .melt(id_vars=['Country', 'Mode/vehicle type', 'Indicator'], var_name=['Year'], value_name='Value')
          .rename(columns={'Mode/vehicle type': 'mode'})
          .query("mode == 'Total passenger transport'")
          .dropna()
    )
    return df

In [29]:

#process_TMP()
#process_TMP()['Country'].unique()
#process_TMP()['Indicator'] = process_TMP()['Indicator'].str.strip()
#process_TMP()['Indicator'].unique()
#process_TMP()
#process_TMP()['Indicator'].unique()
#New_df =process_TMP()[process_TMP()['Indicator'] =='Tonne-kilometres energy intensity (MJ/tkm)']
#New_df'''

In [36]:
df['Indicator'] = df['Indicator'].str.strip()
df
df['Indicator'].unique()
New_df=df[df['Indicator'] == 'Tonne-kilometres energy intensity (MJ/tkm)']
New_df

,Country,Mode/vehicle type,Indicator,2000,2001,2002,2003,2004,2005,2006,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
47,Australia,Freight trucks,Tonne-kilometres energy intensity (MJ/tkm),2.30,2.26,2.22,2.20,2.17,2.14,2.12,...,2.18,2.18,2.19,2.20,2.19,2.22,2.22,2.23,2.25,2.23
54,Australia,Freight trains,Tonne-kilometres energy intensity (MJ/tkm),0.19,0.18,0.17,0.16,0.17,0.17,0.16,...,0.14,0.14,0.13,0.13,0.11,0.11,0.11,0.11,0.10,0.09
61,Australia,Domestic freight airplanes,Tonne-kilometres energy intensity (MJ/tkm),2.28,2.20,2.10,2.06,1.99,2.00,1.94,...,1.88,1.85,1.82,1.82,1.90,1.79,1.70,1.70,1.73,1.73
66,Australia,Domestic freight ships,Tonne-kilometres energy intensity (MJ/tkm),0.15,0.15,0.15,0.15,0.15,0.15,0.14,...,0.17,0.16,0.12,0.08,0.09,0.09,0.09,0.09,0.10,0.14
71,Australia,Total freight transport,Tonne-kilometres energy intensity (MJ/tkm),0.92,0.92,0.89,0.88,0.87,0.86,0.85,...,0.82,0.83,0.82,0.78,0.74,0.72,0.72,0.69,0.67,0.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2783,Kyrgyzstan,Freight trucks,Tonne-kilometres energy intensity (MJ/tkm),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2790,Kyrgyzstan,Freight trains,Tonne-kilometres energy intensity (MJ/tkm),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2797,Kyrgyzstan,Domestic freight airplanes,Tonne-kilometres energy intensity (MJ/tkm),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2802,Kyrgyzstan,Domestic freight ships,Tonne-kilometres energy intensity (MJ/tkm),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2807,Kyrgyzstan,Total freight transport,Tonne-kilometres energy intensity (MJ/tkm),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
New_df.to_csv('Tonne-kilometres energy intensity (MJtkm).csv')

In [38]:
pwd

'C:\\Users\\Innocent\\Desktop\\GGGI Project\\Anticipe\\13-08-20121\\Anticipe'